/* Nav Bar */

#navbar {
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    width: 10%;
    overflow: auto;
} 

#nav-bar {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: block;
    text-decoration: none;
}

/* .nav-link:active {

} */

/* Main Doc */

#main-doc {
    margin-left: 10%;
}

@media screen and (max-width: 900px) {
    #navbar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .nav {
        float: left;
        padding: 15px;
    }

    #main-doc {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    #nav-bar, .nav {
        text-align: center;
        float: none;
    }
}

